@charset "UTF-8";
/* CSS by Suzi Marvin */

/*-----------BODY AND MAIN CONTENT------------*/

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    background-attachment: fixed;
    font-family: Times New Roman, Times, serif;
    line-height: 1.6em;
    color: #333333;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h3{
    font-size: .9em;
    font-family: Times, Times New Roman, serif;
    line-height: .5em;
    color: white;
    letter-spacing: .15em;
    text-align: center;
}

p{
    font-size: 1em;
    font-family: Times, Times New Roman, serif;
    line-height: 1em;
    color: white;
    letter-spacing: .1em;
    text-align: left;
    padding-left: 30px
}

h1{
    margin: 0;
    text-align: left;
    padding-bottom: 0;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: .01em;
    line-height: 1em;
    font-size: 5em;
    padding-left: 8%;
    
}

h2{
    color: white;
    text-align: left;
    font-size: 2.5em;
    line-height: .9em;
    margin-left: 30px;
}

blockquote{
    font-size: 1em;
    font-family: Times, Times New Roman, serif;
    line-height: 1em;
    color: silver;
    letter-spacing: .1em;
    text-align: left;
    padding-left: 20px;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 0em;
    font-family: Times New Roman, Times, serif;
    font-size: 1em;
    overflow: hidden;
}

li {
    float: center;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

a:link{
    color: gold;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: bold;
}

a:active{
    text-decoration: bold;
}

a:visited{
    color: gold;
}

img.main{
    opacity: .5;
}

img.main:hover{
    opacity: 1;
}

table {
    width: 1400px;
}

h2{
    color: gold;
}

div {
    width: 70%;
    display: inline;
    margin: 0px;
    padding: 0px;
}

div.space {
    float: right;
    width: 10%;
}

@media only screen and (max-width: 480px) {
    table {
        width: 100%;
    }
    
    table tr {
        display: block;
    }
    
    table td {
        display: block;
    }
    
    li {
        padding: 10px;
        line-height: 5px;
        text-align: center;
    }
    
    h1{
        font-size: 3em;
        line-height: 1em;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center; 
    }
    
    div{
        overflow-x: auto;
        margin-left: 0%;
        margin-right: 0%;
        max-width: 100%;
    }
    
    div.nav{
        padding-right: 90px;
    }
    
    img {
        width: 100%;
        opacity: 1;
    }
    
    img.main {
        opacity: 1;
    }
    
    img.logo{
        width: 30%;
    }
    
    h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1024px) {
    table {
        width: 80%;
    }
    
    table tr{
        display: block;
    }
    
    table td{
        display: block;
    }
    
    table.m {
        width: 60%;
    }
    
    table.m tr {
        display: block;
    }
    
    table.m td {
        display: block;
    }
    
    li {
        padding: 10px;
        line-height: 5px;
    }
    
    h1{
        font-size: 3em;
        line-height: 1em;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    div{
        overflow-x: auto;
        margin-left: 0%;
        margin-right: 0%;
        max-width: 100%;
    }
    
    img {
        width: 100%;
        opacity: 1;
        display: center;
    }
    
    img.main {
        opacity: 1;
        width: 100%;
    }
    
    img.logo{
        width: 25%;
    }
    
    img.itme {
        width: 60%;
        display: center;
    }
    
    h2 {
        font-size: 1.5em;
    }

/*

table{
    line-height: 1.3em;
    padding: 10px 600px 0 30px;
    border-style: none;
    width: 1200px;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: .9em;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

/*---table colored lines----
tr:nth-child(odd) {background-color: #f9d3c0}
tr:nth-child(even) {background-color: #F9F4E7}

.colors{
    width: 18%;
    height: 70%;
    padding: 0;
    float: center;
    margin: auto;
}

/*

.container{
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
}

.containercenter{
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
    align-content: center;
    text-align: center;
}

*/

/*----------TITLE PAGE STYLES--------------
#title-page{
  width: 100%;
  padding-top: 600px; /* provides a lot of space to view the background image 
  padding-left: 300px;
  color: #fff;
  text-align: right;
}
#title-page h1 {
    margin: 0;
    text-align: right;
    padding-bottom: 0;
    color: #ed6c4b;
    font-family: 'Homemade Apple', cursive;
    letter-spacing: .01em;
    line-height: 1.5em;
    font-size: 5em;
}
#title-page h3 {
    margin: 0;
    text-align: right;
    font-size: 2em;
    color: #e5a484;
    font-family: 'Homemade Apple', cursive;
    letter-spacing: .05em;
    line-height: 2em;
}

/*----------TEXT STYLES------------*/


/*

h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    color: #796769;
    line-height: .2em;
    margin-top: 10px;
}

h3{
    padding: 0;
    line-height: .2em;
    font-size: 1.2em;
    font-style: italic;
    color: #796769;
    text-align: center;
}

hr{
    height: 3px;
    border: 1px solid #F9F4E7;
    width: 1900px;
    background-image: linear-gradient(to right, rgba(216,174,119,0),rgba(216,174,119,.75),rgba(216,174,119,0));
    margin: 0;
    padding-top: 0;
}

blockquote{
    margin: 0px;
    width: 1200px;
    padding: 0px;
    color: #796769;
    font-size: 1.3em;
    font-family: Times New Roman, Times, serif;
}

footer{
    margin: 0;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    color: #ffffff;
    font-size: .7em;
    font-family: Helvetica, Tahoma, sans-serif;
    clear: both;
}


/*----------SECTION SYLES---------------
#splash{
    background: url(images/atomicus.png) no-repeat center top fixed;
    background-size: cover;
    height: 1000px;
}

#bio{
    background-color: #f9d3c0;
    padding: 10px;
}

#media{
    background: url(images/texture.png) no-repeat center top fixed;
    background-size: cover;
    background-color: #F9F4E7;
    padding: 10px;
}

#author{
    background-color: #f9d3c0;
    padding: 10px;
}

#footer{
    background-color: #F9F4E7;
    padding: 20px 0;
}

/*---------FOOTER DIVS & STYLES --------

.footer{
    padding: 10px;
    clear: both;
}

.footer1{
    clear: both;
}

.tinytext{
    font-size: .7em;
    line-height: 1em;
    text-align: center;
    padding: 0;
}

/*--------------SIDEBAR----------

.sidebar{
    background: rgba(229, 164, 132, 100);
    width: 190px;
    float: left;
    margin-top: 50px;
    padding: 10px;
    font-family: Georgia;
    text-align: right;
    border: none;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #333333;
    overflow: hidden;
}

.sidebar a:link {color: #F9F4E7}
.sidebar a:visited {color: #F9F4E7}
.sidebar a:hover {color:#ed6c4b}
.sidebar a:active {color: #F9F4E7}

/*-------------END SIDEBAR----------

img{
    padding: 0;
    margin: auto;
    margin-left: 27%;
    margin-right: 27%;
}

#space1{
    padding-top: 10px;
}

.grayscale:hover {
    filter: grayscale(100%);
}

/*tr:hover {background-color: #e5a484}*/

/*----------LINKS---------
a:link {
    color: #ed6c4b;
    text-decoration: none;
}
    
a:visited {
    color: #ed6c4b;
    text-decoration: none;
}
    
a:hover {
    color: #796769;
    text-decoration: none;
}
a:active {
    color: #ed6c4b
    }
*/ 
